.AboutContainer {
  /* background-color: red; */
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
}

.AboutTitle {
  font-size: 40px;
}

.AboutTitleBox {
  display: flex;
  width: 100%;
}

.AboutList {
  display: flex;
  flex-direction: column;
}
.AboutText {
  font-size: 20px;
}

.AboutHL {
  height: 2px;
  width: 600px;
  background-color: grey;
}

.AboutList {
  margin-left: 160px;
}

.AboutListtTitle {
  padding-bottom: 20px;
  font-size: 30px;
}

.AboutTextBox {
  padding-bottom: 45px;
}

.AboutMid {
  display: flex;
  flex: 5;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AboutLeft {
  display: flex;
  justify-content: center;
  flex: 1;
}
.AboutRight {
  display: flex;
  flex: 1;
}
