.EffectsContainer {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
}
.EffectsLeft {
  display: flex;
  flex: 1;
}
.EffectsMid {
  display: flex;
  flex: 6;

  flex-direction: column;
}
.EffectsRight {
  display: flex;
  flex: 1;
}
.EffectsTextBox1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.EffectsTextBox2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.EffectsTextBox3 {
  margin-top: 80px;
  width: 100%;
}
.EffectsCardsBox {
  margin-top: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.EffectsText {
  font-size: 25px;
  font-weight: bold;
}
