.ContriContainer {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
}
.ContriLeft {
  display: flex;
  flex: 1;
}
.ContriMid {
  display: flex;
  flex: 6;

  flex-direction: column;
}
.ContriRight {
  display: flex;
  flex: 1;
}
.ContriTextBox1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.ContriTextBox2 {
  width: 100%;
}
.cardsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ContriText {
  font-size: 25px;
  font-weight: bold;
}

.DropDown1 {
  box-shadow: 5px 4px 6px rgba(166, 180, 200, 0.65),
    -5px -5px 15px rgba(255, 255, 255, 0.75);
}

.DropDown2 {
  box-shadow: 5px 4px 6px rgba(166, 180, 200, 0.65);
  margin-left: 20px;
}

.DropDownAndCalendarBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.CalendarBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendarbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 7px;
  border-radius: 20px;
  box-shadow: 5px 4px 6px rgba(166, 180, 200, 0.65),
    -5px -5px 15px rgba(255, 255, 255, 0.75);
}
